
<header class="header">
	<div class="container">
		<nav class="header__nav">
			<div class="header__nav__logo">
				Admin Menu
			</div>
			<ul class="header__nav__right-box">
				<li class="header__nav__right-box__item">
					<a class="header__nav__right-box__item__link" routerLinkActive="active" routerLink="./home">Home</a>
				</li>
				<li class="header__nav__right-box__item">About</li>
				<li class="header__nav__right-box__item">
					<a class="header__nav__right-box__item__link" routerLinkActive="active" routerLink="./contacts">Personal Contacts</a>
				</li>
				<li class="header__nav__right-box__item">Logout</li>
			</ul>
		</nav>
	</div>
</header>
