.form-wrapper {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin-top: 100px;

	.example-full-width {
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		width: 350px;
	}

	.form-btn {
		height: 30px;
		padding: 0 5px;
		font-size: 14px;
		background-color: #f0ba4e;
		border-radius: 5px;
	}
}