<div class="form-wrapper">
	<form id="form" [formGroup]="form">
		<p>Name:</p>
		<mat-form-field class="example-full-width">
			<mat-label>Имя</mat-label>
			<input matInput type="text" formControlName="name" [errorStateMatcher]="matcher">
			<mat-error *ngIf="form.controls['name'].hasError('minlength') && !form.controls['name'].hasError('required')">Слишком короткое</mat-error>
			<mat-error *ngIf="form.controls['name'].hasError('required')">Поле <strong>не заполнено</strong></mat-error>
		</mat-form-field>

		<p>Email:</p>
		<mat-form-field class="example-full-width">
			<mat-label>Email</mat-label>
			<input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
				placeholder="Ex. pat@example.com">
			<!-- <mat-hint>Errors appear instantly!</mat-hint> начальный bottom space hint с описанием-->
			<!-- Проверка -->
			<mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">Please
				enter a valid email address</mat-error>
			<!-- Проверка -->
			<mat-error *ngIf="form.controls['email'].hasError('required')">Email <strong>не написан</strong></mat-error>
		</mat-form-field>

		<p>Website:</p>
		<mat-form-field class="example-full-width">
			<mat-label>Сайт</mat-label>
			<input matInput type="text" formControlName="website" placeholder="Microsoft, Tesla, NVidia">
			<mat-error *ngIf="form.controls['website'].hasError('minlength') && !form.controls['website'].hasError('required')">Слишком короткое</mat-error>
			<mat-error *ngIf="form.controls['website'].hasError('required')">Поле <strong>не заполнено</strong></mat-error>
		</mat-form-field>

		<p>Company name:</p>
		<mat-form-field class="example-full-width" formGroupName="company">
			<mat-label>Название компании</mat-label>
			<input matInput type="text" formControlName="name">
			<mat-icon matSuffix>open_in_new</mat-icon>
		</mat-form-field>

		<button class="form-btn" [disabled]="form.invalid" (click)="submitForm()" type="submit">
			<mat-icon>add</mat-icon>
			<span class="text">Create user</span>
		</button>
	</form>
</div>