
<div class="form-wrapper">
	<form id="form" [formGroup]="form" (ngSubmit)="submitForm()">
		<p>ТЕКСТ ЗАДАЧИ:</p>
		<input type="text" formControlName="title">
		<div class="alert-error" *ngIf="form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched)">Ошибка</div>
	
		<p>АВТОР ЗАДАЧИ:</p>
		<input type="text" formControlName="userId">
		<div class="alert-error" *ngIf="form.controls['userId'].invalid && (form.controls['userId'].dirty || form.controls['userId'].touched)">Ошибка</div>
		
		<p>ЗАДАЧА ЗАВЕРШЕНА:</p>
		<input type="text" formControlName="completed">
		<div class="alert-error" *ngIf="form.controls['completed'].invalid && (form.controls['completed'].dirty || form.controls['completed'].touched)">Ошибка</div>

		<button class="form-btn" [disabled]="form.invalid">Create User</button>
	</form>
</div>
