<h1>Компонент списка юзеров</h1>

<app-create-user-form (createUser)="createUser($event)"></app-create-user-form>

<div class="wrapper">
	<div class="users-cards" shadows="red" *ngFor="let item of usersObservable$ | async"> // из шаблона убираем обращение к сервисам и создаем переменную в которой эта сущность из сервиса
		<app-user-card [user]="item" (deleteUser)="deleteUser($event)" (editUser)="editUser($event)"></app-user-card>
	</div>
</div>

<button mat-fab class="add-dialog" (click)="openDialog()">
	<mat-icon>add</mat-icon>
</button>
