p {
	font-size: 14px;
	line-height: 14px;
	word-break: break-all;
}
.todo-btn {
	display: block;
	margin: 0 auto;
	width: 100px;
	height: 40px;
	border: 1px solid #f0a747;
	border-radius: 20px;
	background: 0;
	transition: all 0.5s ease;
	&:hover {
		background: #f0a747;
		color: white;
	}
}