<!-- <div class="header">
	<div class="container">
		<div class="header-items">
			<div class="header-left">
				<div class="header-logo">
					<img src="/assets/Frame.svg" alt="image">
				</div>
				<nav class="header-nav">
					<div class="header-nav-item">{{headerItem1}}</div>
					<div class="header-nav-item">{{aboutCompany}}</div>
					<div class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</div>
				</nav>
				<button (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
			</div>
			<div class="header-right">
				<div class="header-right-phone">
					<img src="/assets/Phone.svg" alt="phone">
					<a href="tel:+79650842929">+7(965) 084-29-29</a>
				</div>
				<div class="header-right-heart">
					<img src="/assets/heart 1.svg" alt="heart">
				</div>
				<div class="header-right-store">
					<img src="/assets/Mask group.svg" alt="store">
					<span>Пусто</span>
				</div>
			</div>
		</div>
	</div>
</div>
<button (click)="isShowBigImg = !isShowBigImg">Скрыть/Показать Мужика</button>
<div class="bg-man" *ngIf="isShowBigImg">
	<img src="/assets/Rectangle-5.png" alt="bg-man">
</div>
<div class="item-cards">
	<div class="container">
		<div class="item-cards__pagination">
			<button class="item-cards__pagination-button active-button" *ngFor="let item of paginations">{{item}}</button>
		</div>
		<div class="item-cards__grid">

			<div class="item-cards__grid-left">
				Строительный отделочный инструмент
				<div class="item-cards__grid-left-catalog grid-catalog">Перейти в каталог</div>
			</div>

			<div class="item-cards__grid-right">
				<div class="item-cards__grid-right-block grid-right-block-1">
					Эмали
					<div class="item-cards__grid-right-catalog grid-catalog">Перейти в каталог</div>
				</div>
				<div class="item-cards__grid-right-block grid-right-block-2">
					Лакокрасочные <br> материалы
					<div class="item-cards__grid-right-catalog grid-catalog">Перейти в каталог</div>
				</div>
				<div class="item-cards__grid-right-block grid-right-block-3">
					Пены, клеи и <br> герметики
					<div class="item-cards__grid-right-catalog grid-catalog">Перейти в каталог</div>
				</div>
				<div class="item-cards__grid-right-block grid-right-block-4">
					Розетки и выключатели
					<div class="item-cards__grid-right-catalog grid-catalog">Перейти в каталог</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<section class="background-gradient">
	<router-outlet></router-outlet>
</section>
  