.header {
	height: 80px;
	background-color: #4B565E;
	color: white;
	display: flex;
	align-items: center;

	&-items {
		display: flex;
		justify-content: space-between;
	}

	&-logo {
		margin-right: 40px;
	}

	&-left {
		display: flex;
		align-items: center;

		.right-btn {
			height: 30px;
			padding: 0 5px;
			font-size: 14px;
			color: white;
			background-color: #f0ba4e;
			border-radius: 5px;
		}

		.right-btn+.right-btn {
			margin-left: 10px;
		}
	}

	&-right {
		display: flex;
		align-items: center;

		&-phone {
			display: flex;
			align-items: center;

			img {
				margin-right: 10px;
			}

			a {
				color: #ffffff;
				font-size: 16px;
				font-weight: 500;
			}
		}

		&-heart {
			margin: 0 42px;
			cursor: pointer;
		}

		&-store {
			border: 1px solid #f0ba4e;
			border-radius: 50px;
			padding: 10px 20px;
			cursor: pointer;
			display: flex;
			align-items: center;

			img {
				margin-right: 10px;
			}

			font-size: 16px;
			font-weight: 500;
		}
	}

	&-nav {
		display: flex;

		&-item {
			margin-right: 24px;
			cursor: pointer;
		}
	}
}

.yellow-nav {
	background: #f0ba4e;
	height: 48px;

	display: flex;
	align-items: center;

	.navigation {
		display: flex;
		justify-content: space-between;

		&__left {
			display: flex;

		}

		&__menu-burger {
			display: flex;
			flex-direction: column;
			justify-content: center;

			span {
				width: 16px;
				height: 2px;
				background: #3c3c3b;
				border-radius: 5px;
				margin-right: 10px;

				&:last-child {
					width: 12px;
				}
			}

			span+span {
				margin-top: 2px;
			}
		}

		&__left-items {
			cursor: pointer;
			font-size: 14px;
			display: flex;
			align-items: center;
		}

		.navigation__left-items+.navigation__left-items {
			margin-left: 24px;
		}

		&__right {
			display: flex;
			align-items: center;

			&-input {
				margin-right: 40px;
				width: 400px;
				height: 28px;
				font-size: 16px;
				border-bottom: 1px solid #3c3c3b;
				position: relative;
				display: flex;
				align-items: center;
				input {
					width: 100%;
				}
				&::after {
					content: '';
					display: block;
					width: 24px;
					height: 24px;
					background: url('../assets/search-nav-img.svg') center/cover no-repeat;
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			&-location {
				display: flex;
				align-items: center;
				color: white;
				position: relative;
				font-size: 14px;
				height: 14px;
				&::before {
					content: '';
					display: block;
					width: 12px;
					height: 12px;
					background: url('../assets/map-pin.svg') center/cover no-repeat;
					position: absolute;
					top: 1px;
					left: -16px;
				}
			}
		}
	}
}
