.header {
	height: 80px;
	background-color: #4B565E;
	color: white;
	display: flex;
	align-items: center;

	&-items {
		display: flex;
		justify-content: space-between;
	}

	&-logo {
		margin-right: 40px;
	}

	&-left {
		display: flex;
		align-items: center;
		.admin-btn {
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	&-right {
		display: flex;
		align-items: center;

		&-phone {
			display: flex;
			align-items: center;

			img {
				margin-right: 10px;
			}

			a {
				color: #ffffff;
				font-size: 16px;
				font-weight: 500;
			}
		}

		&-heart {
			margin: 0 42px;
			cursor: pointer;
		}

		&-store {
			border: 1px solid #f0ba4e;
			border-radius: 50px;
			padding: 10px 20px;
			cursor: pointer;
			display: flex;
			align-items: center;

			img {
				margin-right: 10px;
			}

			font-size: 16px;
			font-weight: 500;
		}
	}

	&-nav {
		display: flex;

		&-item {
			margin-right: 24px;
			cursor: pointer;
		}
	}
}