<div class="header">
	<div class="container">
		<div class="header-items">
			<div class="header-left">
				<div class="header-logo">
					<img src="/assets/Frame.svg" alt="image">
				</div>
				<nav class="header-nav">
					<div class="header-nav-item" routerLink="/">{{headerItem1}}</div>
					<div class="header-nav-item">{{aboutCompany}}</div>
					<div class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</div>
				</nav>
				<button (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
				<button class="admin-btn" routerLink="/users">Админка</button>
			</div>
			<div class="header-right">
				<div class="header-right-phone">
					<img src="/assets/Phone.svg" alt="phone">
					<a href="tel:+79650842929">+7(965) 084-29-29</a>
				</div>
				<div class="header-right-heart">
					<img src="/assets/heart 1.svg" alt="heart">
				</div>
				<div class="header-right-store">
					<img src="/assets/Mask group.svg" alt="store">
					<span>Пусто</span>
				</div>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>