
<div class="header">
	<div class="container">
		<div class="header-items">
			<div class="header-left">
				<div class="header-logo">
					<img src="/assets/Frame.svg" alt="image">
				</div>
				<nav class="header-nav">
					<div class="header-nav-item" routerLink="/">{{headerItem1}}</div>
					<div class="header-nav-item">{{aboutCompany}}</div>
					<div class="header-nav-item" *ngIf="isShowCatalog">{{headerItem3}}</div>
				</nav>
				<button class="right-btn" (click)="isShowCatalog = !isShowCatalog">Скрыть/Показать каталог</button>
				<button class="right-btn" routerLink="/users">Админка</button>
				<button class="right-btn" routerLink="/todos">Todos</button>
			</div>
			<div class="header-right">
				<div class="header-right-phone">
					<img src="/assets/Phone.svg" alt="phone">
					<a href="tel:+79650842929">+7(965) 084-29-29</a>
				</div>
				<div class="header-right-heart">
					<img src="/assets/heart 1.svg" alt="heart">
				</div>
				<div class="header-right-store" backgroundColor="#f0ba4e">
					<img src="/assets/Mask group.svg" alt="store">
					<span>Пусто</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="yellow-nav">
	<div class="container">
		<nav class="navigation">
			<div class="navigation__left">
				<button class="navigation__menu-burger">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<a class="navigation__left-items" *ngFor="let item of navigationitems">{{item}}</a>
			</div>
			<div class="navigation__right">
				<div class="navigation__right-input">
					<input type="text" placeholder="Поиск, например Круг зачистной">
				</div>
				<div class="navigation__right-location">Москва</div>
				<div class="navigation__right-today-date">
					{{today | date:'medium'}}
				</div>
			</div>
		</nav>
	</div>
</div>

<div class="admin-user-role__wrapper">
  <button class="admin-user-role__btn" (click)="openDialog()">
    {{ (userRole$ | async) ? 'Войти' : 'Выйти' }}
  </button>
  <button *ngIf="isShowAdminBtn" class="admin-user-role__btn"
          routerLink="/admin">Админка
  </button>

</div>

<router-outlet></router-outlet>