.user-details-card {
	margin-top: 100px;

	&__wrapper {
		height: 100px;
		width: 400px;
		border: none;
		background-color: #191B1F;
		border-radius: 10px;
		padding: 15px;
	}

	&__data {
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
	}

	&__btn {
		display: block;
		border-radius: 5px;
		padding: 5px;
		width: 80px;
		transition: all .1s;
		color: #191B1F;
		background-color: #0374FF;
		font-size: 16px;
		margin: 0 auto 0 100%;
		transform: translateX(-100%);

		&:hover {
			background-color: #0057c2;
		}
	}
}