h1 {
	text-align: center;
	font-size: 24px;
	margin-top: 50px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1140px;
	margin: 0 auto;
	margin-top: 100px;
	gap: 20px 20px;
}

.users-cards {
	width: 300px;
	box-shadow: 3px 3px 10px rgba(151, 151, 151, 0.6);
	padding: 15px;

	app-user-card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap: 20px;
	}
}

.add-dialog {
	position: fixed;
	right: 400px;
	bottom: 100px;
	background-color: rgb(255, 196, 0);

	animation: wobble-ver-left 5s ease-in-out 3;
}

@keyframes wobble-ver-left {
  0%,
  15% {
    transform: translateY(0) rotate(0);
    transform-origin: 50% 50%;
  }
  30% {
    transform: translateY(-30px) rotate(-6deg);
  }
  45% {
    transform: translateY(15px) rotate(6deg);
  }
  60% {
    transform: translateY(-15px) rotate(-3.6deg);
  }
  75% {
    transform: translateY(9px) rotate(2.4deg);
  }
  90% {
    transform: translateY(-6px) rotate(-1.2deg);
  }
  100% {
    transform: translateY(0) rotate(0); /* В конце возвращаемся в исходное положение */
  }
}
